#song-iframe-wrapper{
    width:100%;
    text-align:center;
    margin:3.5em 0;
}
#song-iframe{
    width:75%;
    display:inline-block;
}
.graphs-wrapper{
    margin:0;
    padding:0;
    list-style: none;
    width:100%;
    height:fit-content;
    text-align:center;
    padding-bottom:3em;
}
.graphs-wrapper li{
    min-width:250px;
    width:30%;
    height:450px;
    display:inline-block;
    margin:0 15px;
}
.timer-wrapper{
    width:100%;
    position: fixed;
    bottom:0;
    background-color:#ececec;
}
.timer-label{
    width:100%;
    text-align:center;
    margin:0;
    padding:0;
    color:grey;
    font-weight: lighter;
}